In [41]:
import numpy as np
import pandas as pd 
import folium

In [14]:
file_path = 'Motor_Vehicle_Collisions_-_Crashes.csv'
df = pd.read_csv(file_path)

In [21]:
df['datetime'] = pd.to_datetime((df["CRASH DATE"] + " " + df["CRASH TIME"]))

In [22]:
df.sort_values(by=["datetime"], inplace=True, ascending=False)

In [57]:
df = df.dropna(subset=['LATITUDE','LONGITUDE'])

In [58]:
dfy1 = df[-20:-1]
m = folium.Map()
for _, row in dfy1.iterrows():
        folium.Marker((row["LATITUDE"], row["LONGITUDE"])).add_to(m)
m

In [55]:
dfy1.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,datetime
1550591,07/01/2012,1:00,BRONX,10456,40.828729,-73.914723,"(40.8287288, -73.9147231)",EAST 165 STREET,FINDLAY AVENUE,NaN,...,NaN,NaN,NaN,85161,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 01:00:00
1391175,07/01/2012,1:00,QUEENS,11434,40.679937,-73.776362,"(40.6799371, -73.7763624)",BAISLEY BOULEVARD,167 STREET,NaN,...,NaN,NaN,NaN,268099,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 01:00:00
1547738,07/01/2012,1:00,NaN,NaN,NaN,NaN,NaN,CANEY LANE,HOOKCREEK BOULEVARD,NaN,...,NaN,NaN,NaN,219389,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 01:00:00
1545524,07/01/2012,0:45,QUEENS,11434,40.670701,-73.773654,"(40.670701, -73.7736537)",140 AVENUE,BREWER BOULEVARD,NaN,...,Unspecified,NaN,NaN,268102,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,2012-07-01 00:45:00
1548720,07/01/2012,0:45,QUEENS,11416,40.681047,-73.849300,"(40.6810466, -73.8493003)",103 AVENUE,90 STREET,NaN,...,NaN,NaN,NaN,203710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:45:00

In [56]:
dfy1

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,datetime
1550591,07/01/2012,1:00,BRONX,10456,40.828729,-73.914723,"(40.8287288, -73.9147231)",EAST 165 STREET,FINDLAY AVENUE,NaN,...,NaN,NaN,NaN,85161,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 01:00:00
1391175,07/01/2012,1:00,QUEENS,11434,40.679937,-73.776362,"(40.6799371, -73.7763624)",BAISLEY BOULEVARD,167 STREET,NaN,...,NaN,NaN,NaN,268099,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 01:00:00
1547738,07/01/2012,1:00,NaN,NaN,NaN,NaN,NaN,CANEY LANE,HOOKCREEK BOULEVARD,NaN,...,NaN,NaN,NaN,219389,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 01:00:00
1545524,07/01/2012,0:45,QUEENS,11434,40.670701,-73.773654,"(40.670701, -73.7736537)",140 AVENUE,BREWER BOULEVARD,NaN,...,Unspecified,NaN,NaN,268102,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,2012-07-01 00:45:00
1548720,07/01/2012,0:45,QUEENS,11416,40.681047,-73.849300,"(40.6810466, -73.8493003)",103 AVENUE,90 STREET,NaN,...,NaN,NaN,NaN,203710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:45:00
1391410,07/01/2012,0:45,MANHATTAN,10022,40.758976,-73.964503,"(40.7589756, -73.9645027)",EAST 57 STREET,QUEENSBORO BRIDGE APPROACH,NaN,...,NaN,NaN,NaN,32049,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 00:45:00
1542900,07/01/2012,0:44,BROOKLYN,11220,40.641746,-74.013815,"(40.6417459, -74.0138151)",56 STREET,5 AVENUE,NaN,...,NaN,NaN,NaN,155800,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:44:00
1547554,07/01/2012,0:37,MANHATTAN,10017,40.755924,-73.974889,"(40.7559235, -73.9748888)",PARK AVENUE,EAST 48 STREET,NaN,...,NaN,NaN,NaN,37633,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:37:00
1548751,07/01/2012,0:30,BROOKLYN,11233,40.670118,-73.922467,"(40.6701181, -73.9224672)",SAINT JOHNS PLACE,RALPH AVENUE,NaN,...,NaN,NaN,NaN,172633,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 00:30:00
1544310,07/01/2012,0:30,MANHATTAN,10007,40.714678,-74.005887,"(40.7146779, -74.005887)",READE STREET,BROADWAY,NaN,...,NaN,NaN,NaN,5292,TAXI,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 00:30:00
1545466,07/01/2012,0:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT OF 154-02 HORACE HARDING,...,NaN,NaN,NaN,233137,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:30:00
1550754,07/01/2012,0:25,QUEENS,11375,40.732979,-73.844348,"(40.7329792, -73.8443478)",GRND CNTRL PARKWAY SR WEST,65 AVENUE,NaN,...,NaN,NaN,NaN,264072,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:25:00
1547257,07/01/2012,0:23,BROOKLYN,11234,40.607179,-73.916414,"(40.6071786, -73.9164142)",STRICKLAND AVENUE,NATIONAL DRIVE,NaN,...,NaN,NaN,NaN,125655,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:23:00
1545052,07/01/2012,0:22,BRONX,10451,40.824188,-73.913840,"(40.8241884, -73.91384)",EAST 161 STREET,MELROSE AVENUE,NaN,...,NaN,NaN,NaN,78654,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:22:00
1542110,07/01/2012,0:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2836632,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2012-07-01 00:21:00
1548775,07/01/2012,0:20,BROOKLYN,11215,40.677406,-73.983048,"(40.6774056, -73.9830482)",4 AVENUE,UNION STREET,NaN,...,NaN,NaN,NaN,175808,UNKNOWN,BICYCLE,NaN,NaN,NaN,2012-07-01 00:20:00
1547055,07/01/2012,0:10,BROOKLYN,11223,40.588868,-73.972745,"(40.5888678, -73.9727446)",WEST 3 STREET,BOUCK COURT,NaN,...,NaN,NaN,NaN,116256,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012-07-01 00:10:00
1550582,07/01/2012,0:10,NaN,NaN,40.733610,-73.923840,"(40.73361, -73.9238405)",NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,3044659,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,2012-07-01 00:10:00
1543996,07/01/2012,0:05,MANHATTAN,10036,40.762127,-73.997387,"(40.7621266, -73.9973865)",11 AVENUE,WEST 44 STREET,NaN,...,NaN,NaN,NaN,37632,PASSENGER VEHICLE,BUS,NaN,NaN,NaN,2012-07-01 00:05:00